<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Contact Sean Lange</title>
    <link href="/client/contact/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav class="navigation">
        <button id="homebutton" onclick="location.href='/'">Home</button>
        <button id="projectbutton" onclick="location.href='projects'">Projects</button>
        <button id="contactbutton">Contact</button>
        <div class="gradientBox"></div>
    </nav>

    <div class="content">
        <div class="info">
            <p>Email: <span>seanlange74@gmail.com</span></p>
            <p>Phone Number: <span>+1 (727)-218-4504</span></p>
            <p>Resume: <span><a href="https://sean-lange.replit.app/client/media/resume.pdf">Resume</a></span></p>
        </div>
    </div>
</body>