html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body{
    padding: 0px;
    margin: 0px;
}

.navigation{
    position: fixed;
    top: 0px;
    z-index: 3;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0);
    transition-duration: 0.5s;
}

.navigation button{
    position: absolute;
    border: none;
    background: none;
    height: 80px;
    width: 250px;
    color: white;
    border-left: 2px solid black;
    font-family: Raleway;
    font-size: 22px;
    transition-duration: 0.4s;
}

.navigation button:hover{
    background: rgba(255, 255, 255, 0.3);
}
.navigation button:active{
    background: rgba(255, 255, 255, 0.6);
}

#homebutton{ right: 500px }
#projectbutton{ right: 250px }
#contactbutton{ right: 0px }

.gradientBox {
    position: absolute;
    bottom: -8px;
    background: url(/images/navback.png);
    height: 8px;
    background-size: 200px 8px;
    width: 100vw;
}

.projects{
    position: relative;
    top: 80px;
}
.projects .title{
    width: 100%;
    margin: 80px 0;
    text-align: center;
    font-size: 40px;
    font-family: Raleway, sans-serif;
}
.indivprojects{
    position: relative;
    display: flex;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 27vw;
    height: 27vw;
    border: 2px solid black;
    border-radius: 8px;
    margin: 20px;
    transition-duration: 0.5s;
}
.project:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px black;
}
.projectimage{ 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}



.ptitle{
    position: relative;
    text-align: center;
    font-family: Lato, 'Segoe UI', sans-serif;
    font-size: 36px;
    z-index: 2;
    letter-spacing: 2px;
    font-weight: 800;
}

.pwords{
    position: relative;
    text-align: center;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    font-size: 20px;
    z-index: 2;
    border-radius: 0 0 8px 8px;
    width: auto;
    padding: 20px 50px 20px 50px;
    background: #fff7;
    font-weight: 400;
}

.pbuttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pbuttons > * {
    border-radius: 25px;
    height: 50px;
    width: 170px;
    border: 1px solid red;
    background: rgba(255, 38, 0, 0.2);
    z-index: 10;
    font-family: Lato, 'Segoe UI', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(199, 30, 0);
    letter-spacing: 1px;
    transition-duration: 0.4s;
}
.pbuttons > *:hover {
    cursor: pointer;
    background: rgba(255, 38, 0, 0.4);
}

/* On handheld device rather than computer */
@media screen and (max-width: 1200px) {
    body {
        padding: 0px;
    }

    .navigation {
        background: #000;
    }
}

/* Shrink navigation to fit entire screen width */
@media screen and (max-width: 800px) {
    .navigation {
        display: flex;
        flex-direction: row;
        gap: 0px;
        flex: 1 1 0px;
        opacity: 0.8;
    }

    .saying {
        width: 80%;
    }

    .navigation button {
        position: relative;
    }

    #homebutton { right: auto }
    #projectbutton { right: auto }
    #contactbutton { right: auto }

    .nameBox {
        font-size: 40px;
    }

    .buttonline {
        flex-direction: column;
    }

    .project {
        width: 80vw;
        height: 100vw;
        margin: 20px auto 20px auto;
    }

    .indivprojects {
        display: block;
        width: 100vw;
        height: auto;
    }
}

/* Smaller phone, make everything smaller */
@media screen and (max-width: 540px) {
    .nameBox {
        font-size: 30px;
    }

    .project {
        width: 80vw;
        height: auto;
        margin: 20px auto 20px auto;
    }

    .ptitle {
        flex: 1;    
    }

    .pwords {
        padding: 20px;
    }

    .pbuttons {
        flex-direction: column;
    }

    .pbuttons > * {
        width: 100%;
    }

    .indivprojects{
        display: block;
        width: 100vw;
    }
}